
body{
    margin-top: 8px;
}

header{
    background-color: cadetblue;
    color: whitesmoke;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}